{% extends "base.html" %}

{% block content %}

<h2>Update Item</h2>

<form method="POST">
    {% csrf_token %}

    <label>Name:</label><br>
    <input type="text" name="name" value="{{ item.name }}" required><br><br>

    <label>Price:</label>
    <input type="number" name="price" value="{{ item.price }}" required><br><br>

    <label>Description:</label><br>
    <textarea name="description" required>{{ item.description }}</textarea><br><br>

    <button type="submit">Update</button>
</form>

<br>
<a href="{% url 'item_list' %}">⬅️ Back</a>

{% endblock %}
